/* -----------------------
Basic Styling
-------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #0c192c;
    font-family: 'Poppins', sans-serif;
}

/*-----------------------
 initial style 
 ----------------------- */
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.wrap{
    position: relative;
    display: flex;
    
}
.wrap span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc33,
                0 0  50px #4fc3dc,
                0 0  100px #4fc3dc;
     animation: animate 15s linear infinite;  
     animation-duration: calc(125s / var(--i));  
}

.wrap span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
                0 0  50px #ff2d75,
                0 0  100px #ff2d75;
}
/* -----------------------
card style start
-------------------------- */
.card{
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 25%;
    margin-top: 25vh;
    color: azure;
    background: #2e3c51;
    padding: 20px;
    box-shadow: 0 0 5px #4fc2dc74,
                0 0 10px #4fc2dc96;
    z-index: 1;
    border-radius: 15px;
}
.card_title{
    margin-bottom: 50px;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.horizental_line{
    width: 80vh;
    height: 2px;
    background: #4fc2dc96;
    margin-bottom: 20px;
}
.card_text{
    font-size: 1.7rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.gifs{
    display: flex;
}
.gif{
    width: 50px;
    height: 50px;
    margin: 40px 10px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px #4fc2dc74,
                0 0 10px #4fc2dc96;
}
/* -------------------------
keyframes style section
----------------------------*/
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}
/* --------------------------------------
Responsive style section with media query
-----------------------------------------*/
@media screen and (max-width: 768px){
    .wrap{
        flex-direction: column;
    }
    .wrap span{
        margin: 4px 0;
    }
}